.wrapper {
  &.opened {
    transform: translateX(-4px);
  }
}

.line {
  width: 24px;
  height: 4px;
  background-color: currentcolor;
  border-radius: 10px;
  margin: 5px 0;
  transition: 0.2s ease;

  .opened & {
    border-radius: 20px;
    width: 27px;
    height: 3px;

    &.first {
      transform: rotate(-45deg) translateY(6px);
    }

    &.second {
      transform: rotate(45deg) translateY(-6px);
    }
  }
}
