.socialIcons {
  flex-direction: row;
  display: flex;
  padding: 0;
  margin: 0 16px 0 4px;
  list-style: none;

  @media screen(xl) {
    margin: 0 24px 0 12px;
  }

  @media screen(mdMax) {
    display: none;
  }

  @media screen(smMax) {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
}

.socialItem {
  @media screen(smMax) {
    border-top: 1px solid #e5e7eb;
  }
}

.socialLink {
  @apply hover active focus;

  box-sizing: content-box;
  display: block;
  padding: 12px;
  margin: 0;
  color: #6f7685;
  text-decoration: none;

  @media screen(mdMax) {
    padding: 6px;
  }

  @media screen(smMax) {
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: var(--font-base);
    font-weight: 400;
    font-size: inherit;
    line-height: inherit;
    color: #353940;
    padding: 18px 16px;
    margin: 0 -16px;
    transition: background-color 0.2s ease-in;

    &:hover,
    &:active {
      opacity: 1;
      background-color: rgb(15 22 36 / 5%);
    }
  }
}

.socialLinkIcon {
  width: 24px;
  height: 24px;
  color: #6f7685;

  @media screen(mdMax) {
    width: 20px;
    height: 20px;
  }

  @media screen(smMax) {
    width: 24px;
    height: 24px;
  }
}

.socialLabel {
  display: none;

  @media screen(smMax) {
    display: inline;
  }
}
