.linksList {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;

  @media screen(smMax) {
    flex-direction: column;
    align-items: stretch;
  }
}

.linkItem {
  position: relative;
  margin-left: 12px;

  &:first-of-type {
    margin: 0;
  }

  @media screen(smMax) {
    margin-left: 0;

    & + & {
      border-top: 1px solid #e5e7eb;
    }
  }
}

.link {
  @apply hover active focus;

  font-family: var(--font-base);
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  color: #353940;
  padding: 20px 5px;
  display: flex;
  align-items: flex-end;
  border: none;
  background-color: transparent;

  &:hover {
    cursor: pointer;
  }

  &.open {
    opacity: 0.7;

    .arrowDownIcon {
      display: none;
    }

    .arrowUpIcon {
      display: inline-block;
    }
  }

  .linkIcon {
    width: 16px;
    height: 16px;
    margin-left: 4px;
  }

  .arrowUpIcon {
    display: none;
  }

  @media screen(xl) {
    font-size: 20px;
    line-height: 24px;
    padding: 20px 10px;

    .linkIcon {
      width: 18px;
      height: 18px;
    }
  }

  @media screen(smMax) {
    font-size: 28px;
    line-height: 34px;
    padding: 18px 0;
    align-items: center;
  }
}

button.link:focus {
  color: #353940;
}
