.popup {
  display: grid;
  padding: 8px;
  opacity: 0;
  position: absolute;
  left: 10px;
  top: calc(100% - 4px);
  visibility: hidden;
  z-index: 2;
  background-color: #fff;
  filter: drop-shadow(0 2px 8px rgb(0 0 0 / 15%));
  border-radius: 12px;
  box-sizing: border-box;
  transition:
    opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out;

  &.visible {
    opacity: 1;
    visibility: visible;
  }

  @media screen(smMax) {
    position: static;
    padding: 0 0 8px 20px;
    background-color: transparent;
    filter: none;
    border-radius: 0;
    opacity: 1;
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    transition:
      max-height 0.3s ease,
      visibility 0.3s;

    &.visible {
      visibility: visible;
      max-height: 500px;
    }
  }
}

.link {
  border-radius: 8px;
  color: #0f1624;
  text-decoration: none;
  font-size: 18px;
  line-height: 30px;
  transition: background-color 0.2s ease-in;

  &:hover,
  &:focus {
    background-color: rgb(15 22 36 / 5%);
  }

  @media screen(smMax) {
    color: rgb(15 22 36 / 60%);
    font-size: 24px;
    line-height: 30px;
    border-radius: 0;
    padding: 14px 0;

    &:hover,
    &:focus {
      background-color: transparent;
      color: #0f1624;
    }
  }
}

.communityPopup {
  row-gap: 4px;
  width: fit-content;
  white-space: nowrap;

  .link {
    padding: 6px 12px 4px;
  }

  @media screen(smMax) {
    width: 100%;
    white-space: normal;

    .link {
      padding: 10px 0;
    }
  }
}
