@reference "../../styles/global.css";

html {
  --layout-alert-height: 40px;
  --layout-header-height: 56px;
}

@media (width <= 572px) {
  html {
    --layout-alert-height: 72px;
  }
}

@media (width <= 340px) {
  html {
    --layout-alert-height: 92px;
  }
}

@media (width <= 280px) {
  html {
    --layout-alert-height: 112px;
  }
}

:global(body[data-layout-alert-dismissed]) {
  --layout-alert-height: 0px;
}

:global(body main :target) {
  scroll-margin-top: calc(
    var(--layout-header-height) + var(--layout-alert-height) + 20px
  );
}

.headerContainer {
  --header-bg: var(--bg-elevated);
  --header-text: var(--text-primary);
  --header-shadow: 0 2px 3px 0 rgb(0 0 0 / 15%);

  @apply flex flex-col flex-nowrap fixed top-0 left-0 right-0 w-full justify-center z-30;

  background-color: var(--header-bg);
  box-shadow: var(--header-shadow);
}

.alertSpacer {
  flex: 0 0 auto;
  width: 100%;
  height: var(--layout-alert-height);
}

.header {
  @apply h-14;

  width: 100%;
  z-index: 3;
  position: relative;
  color: var(--header-text);
  display: flex;
  flex-flow: row nowrap;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  padding: 0 24px;

  @media (width <= 572px) {
    padding: 0 16px;
  }
}
